black
click
flake8
lightning
lightning-cloud
lightning-utilities
matplotlib
numpy
oauthlib
pandas
pandocfilters
Pillow
pymatgen
scikit-learn
scipy
setuptools
sympy
torch
torchaudio
torchmetrics
torchvision
torch_scatter
wandb
wheel
