torch
torchaudio
torchmetrics
torchvision
torch_scatter
torch_geometric
lightning
lightning-cloud
lightning-utilities
black
click
flake8
matplotlib
numpy
oauthlib
pandas
pandocfilters
Pillow
pymatgen
scikit-learn
scipy
setuptools
sympy
wandb
wheel
phast
minydra
faenet
pyxtal
verstack
# otdd